include dash_holoniq_wordcloud/dash_holoniq_wordcloud.min.js
include dash_holoniq_wordcloud/dash_holoniq_wordcloud.min.js.map
include dash_holoniq_wordcloud/async-*.js
include dash_holoniq_wordcloud/async-*.js.map
include dash_holoniq_wordcloud/*-shared.js
include dash_holoniq_wordcloud/*-shared.js.map
include dash_holoniq_wordcloud/metadata.json
include dash_holoniq_wordcloud/package-info.json
include landing-page.md
include README.md
include LICENSE
include package.json
